@use "utils/_mixins" as mh;

.nav {
  &__container {
    display: flex;
    justify-content: center;
    padding: 10px;
    background: #f7f7f7 !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.31);
    font-family: "Noto Sans";
    font-weight: 700;
  }
}
.link {
  color: blueviolet;
}

.header {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 10px;
    height: 127.3px;
    background: url(../../img/header_1280.jpg) center/cover no-repeat;
    position: sticky;

    @media (max-width: 640px) {
      background: url(../../img/header_640.jpg) center/cover no-repeat;
    }
  }

  &__title {
    width: 50%;
    padding: 10px;
    text-align: center;
    font-weight: 700;
    line-height: 1.5;
    backdrop-filter: blur(1px) saturate(40%);
    background-color: rgba(255, 255, 255, 0.41);
    border-radius: 12px;
    // border: 1px solid rgba(209, 213, 219, 0.3);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.51);

    @media (max-width: 768px) {
      width: 100%;
    }
  }
}
