@use "utils/_mixins" as mh;

.main {
  &__container {
    display: grid;
    grid-template-columns: 1fr 2fr; /* Соотношение 1/3 и 2/3 */
    gap: 20px;
    // max-width: 1200px;
    // margin: 0 auto;
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .main__container {
    grid-template-columns: 1fr; /* Колонки в один ряд */
  }
  .hero {
    margin-top: -30px; /* Уменьшаем наезд на мобилках */
  }
}




