@use "utils/_mixins" as mh;

.portfolio {
  width: 100%;
  overflow-y: auto;
  ::-webkit-scrollbar {
    width: 1px;
    color: #483d3d;
  }
}
.tab {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
  padding-bottom: 10px;
}
.tablinks {
  width: 100px;
  padding: 5px;
  border-bottom: #212121;
  text-align: center;
}
.tablinks.active-btn {
  border-bottom: 2px solid #030303;
}
.tabcontent {
  display: none;
  &.active {
    display: block;
  }
  &#projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 10px;
    width: 100%;
  }
}

/* ------- PROJECTS ------- */
.project {
  &__card {
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
  }

  &__img {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(2px) saturate(145%);
    background-color: rgba(191, 184, 184, 0.51);
    color: rgb(255, 255, 255);
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
}
.back-btn {
  background: #212121;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: opacity 0.3s;

  &:hover {
    opacity: 0.8;
  }
}
.project-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 10px;
  #pd-title {
    @include mh.adaptiv-value("font-size", 20, 15, 0);
    font-weight: 600;
    @include mh.adaptiv-value("text-indent", 20, 15, 0);
  }
  #pd-description {
    @include mh.adaptiv-value("font-size", 16, 12, 0);
    line-height: 1.5;
    text-align: justify;
    text-justify: inter-word;
    @include mh.adaptiv-value("text-indent", 20, 15, 0);
  }
}
.project-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 15px;

  &__item {
    height: 200px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      border-radius: 4px;
      object-fit: cover;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      cursor: zoom-in;
    }
  }
}

//modal
.row > .column {
  padding: 0 8px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

/* Контент модалки */
.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

.close-cursor {
  color: #f0f0f0;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
}

/* Слайды по умолчанию скрыты */
.mySlides {
  display: none;
  margin: 0 auto;
  width: 75%;
  max-height: 400px;
  margin-bottom: 10px;
  img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: rgb(168, 154, 154);
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.modal-thumbnails {
  display: flex;
  gap: 10px;
  justify-content: center;
  .column {
    display: flex;
    max-width: 100px;
    max-height: 70px;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}

/* ------- BLOG ------- */

.accordion {
  &__items {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 98%;
  }

  &__item {
    display: flex;
    flex-direction: column;
    height: min-content; //!при раскрытии других не открывается body аккордеона при не активном пункте
    width: 100%;
    gap: 10px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.8);
    // border-radius: 5px;
    box-shadow: 3px -3px 5px rgba(0, 0, 0, 0.51);
    transition: background-color 0.3s ease;
  }

  &__item-maintitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Noto Sans";
    @include mh.adaptiv-value("font-size", 20, 15, 0);
    background: url("../../img/blog/blog-1_640.jpg") center/100% no-repeat;
    height: 200px;
    color: #ffffff;

    h2 {
      backdrop-filter: blur(3px) saturate(205%);
      background-color: rgba(152, 152, 152, 0.41);
      padding: 10px;
      border-radius: 2.5px;
    }
  }

  &__item-header {
    display: flex;
    justify-content: space-between;
    @include mh.adaptiv-value("font-size", 18, 13.5, 0);
    color: rgb(96, 97, 97);
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(108, 98, 98);
    @include mh.adaptiv-value("gap", 25, 18.75, 0);
    cursor: pointer;
  }

  &__item-title {
    text-align: justify;
    text-justify: inter-word;
    @include mh.adaptiv-value("text-indent", 20, 15, 0);
    line-height: 1.2;
  }

  &__item-icon {
    display: flex;
    align-self: center;
    color: brown;
    @include mh.adaptiv-value("font-size", 22, 16.5, 0);
    font-weight: 900;
  }

  &__item-body {
    display: none; //!важно, чтобы было none
    flex-direction: column;
    @include mh.adaptiv-value("padding", 20, 15, 0);
    text-align: justify;
    color: rgb(30, 34, 34);
    line-height: 1.3;
    @include mh.adaptiv-value("font-size", 16, 12, 0);
    @include mh.adaptiv-value("text-indent", 20, 15, 0);
  }
}
.accordion-item {
}
.accordion-toggle {
}
.accordion-icon {
}

.collapsed {
  height: max-content; //!при раскрытии принимает максмальную высоту под контент
}
